.comprador {
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
}

.contenidocomprador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.mispedidos {
    font-size:x-large;
}

.container-pedidoscomprador {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 10px;
    justify-content: flex-start;
}

.elementopedidoscomprador {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.registrarpedido {
    margin-top: 50px;
}

.textarea {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    height: 100px;
}

.logoempresa{
    width: 200px;
    height: auto;
    padding: 20px;
}